html
    head
        title User
        script.
            window.__data__ = !{data}
    body
        div#container
            !=markup
    script(src='/js/common.js')
    script(src='/js/router.js')